@import 'src/assets/scss/config/colors';

.navbar {
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 10px;
  }
  &-link {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    &--route {
      width: calc(100% - 90px);
    }
    &--button {
      position: relative;
    }
    li {
      width: 25%;
      .navbar-link-a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $gray;
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        .mat-icon {
          font-size: 2em;
          height: auto;
          width: auto;
        }
        &.active {
          color: $orange;
        }
      }
    }
  }
}