<nav class="navbar">
  <div class="navbar-container">
    <ul class="navbar-link navbar-link--route">
      <li>
        <a class="navbar-link-a" [routerLink]="['/mis-hijos']" [routerLinkActive]="['active']"><mat-icon>child_care</mat-icon></a>
      </li>
      <li>
        <a class="navbar-link-a" [routerLink]="['/dinero']" [routerLinkActive]="['active']"><mat-icon>account_balance_wallet</mat-icon></a>
      </li>
      <li>
        <a class="navbar-link-a" [routerLink]="['/comidas']" [routerLinkActive]="['active']"><mat-icon>restaurant</mat-icon></a>
      </li>
      <li>
        <a class="navbar-link-a" [routerLink]="['/reportes']" [routerLinkActive]="['active']"><mat-icon>equalizer</mat-icon></a>
      </li>
    </ul>
    <div class="navbar-link navbar-link--button">
      <a href="#" class="btn-circule btn-circule-float btn-circule--orange"><mat-icon>attach_money</mat-icon></a>
    </div>
  </div>
</nav>