<header class="header">
  <div class="container">
    <div class="header-container">
      <div class="header-item header-item--title">
        <a *ngIf="root.back" href="javascript:void(0)" (click)="goBack()" class="back-view">
          <mat-icon>arrow_back</mat-icon>
        </a>
        <h1>{{ root.title }}</h1>
      </div>
      <div *ngIf="root.button" class="header-item header-item--icon">
        <a href="javascript:void(0)" (click)="sendEmitter(root.button_detail.action)" [ngClass]="{'--orange': !root.button_detail.action }">
          <mat-icon>{{ root.button_detail.icon }}</mat-icon>
        </a>
      </div>
    </div>
  </div>
</header>