<div *ngIf="root.type != 'select'" class="mf-input-group" [ngClass]="{'--error': f(root.id).errors && f(root.id).touched, 'mf-input-group--icon': root.icon }" [formGroup]="parentGroup">
  <div class="mf-input-group-box"></div>
  <label class="mf-input--icon" [for]='root.id'>
    <mat-icon>{{ root.icon }}</mat-icon>
  </label>
  <input [formControlName]='root.id' class="mf-input--input" [type]='root.type' required>
  <span class="mf-input--highlight"></span>
  <span class="mf-input--label" for="">{{ root.label }}</span>
</div>

<div *ngIf="root.type == 'select'" class="mf-select-group" [ngClass]="{'--error': f(root.id).errors && f(root.id).touched, 'mf-select-group--icon': root.icon  }" [formGroup]="parentGroup">
  <select [formControlName]='root.id' class="select-text" required>
    <option value="" disabled selected></option>
    <option *ngFor="let option of root.options" [value]='option.value'>{{ option.name }}</option>
  </select>
  <span class="select-highlight"></span>
  <label class="select-label">{{ root.label }}</label>
</div>

