@import 'src/assets/scss/config/colors';

.diner {
  &-body {
    padding: 15px;
    width: 100%;
  }
  &-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
    &-item {
      &--name {
        h3 {
          color: $orange;
          margin: 0;
        }
      }
      &--image {
        display: flex;
        figure {
          width: 50px;
          height: 50px;
          margin: 0;
          border-radius: 50%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  &-consumer {
    margin-bottom: 30px;
    &-item {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      .caption {
        span {
          color: $orange;
          font-size: .8em;
        }
      }
      .amount {
        h3 {
          color: $gray;
          margin: 0;
          font-size: 2em;
          span {
            font-size: .6em;
          }
        }
      }
    }
  }

  &-graph {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 260px;
    margin: 0 auto;
    margin-bottom: 30px;
    &-item {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      span {
        margin-top: 6px;
        color: $orange;
        font-size: .8em;
      }
      .graph-bar {
        background-color: $gray_light;
        width: 18px;
        border-radius: 40px;
        height: 10px;
        &--1 {
          height: calc(20px * 2);
        }
        &--2 {
          height: calc(30px * 2);
        }
        &--3 {
          height: calc(40px * 2);
        }
        &--4 {
          height: calc(50px * 2);
        }
        &--5 {
          height: calc(60px * 2);
        }
        &--6 {
          height: calc(70px * 2);
        }
        &--7 {
          height: calc(80px * 2);
        }
        &.active {
          background-color: $orange;
        }
      }
    }
  }
  &-detail {
    display: flex;
    justify-content: center;
    a {
      color: $orange;
      font-size: 1em;
      text-decoration: none;
    }
  }
}