<headerMain [config]='config'></headerMain>
<section class="section diner">
  <div class="container">
    <div class="card">
      <div class="diner-body">
        <div class="diner-user">
          <div class="diner-user-item diner-user-item--name">
            <h3>Juan Carlos</h3>
          </div>
          <div class="diner-user-item diner-user-item--image">
            <figure>
              <img src="assets/images/perfil.jpg" alt="usuario">
            </figure>
          </div>
        </div>
        <div class="diner-consumer">
          <div class="diner-consumer-item">
            <div class="caption">
              <span>Consumo</span>
            </div>
            <div class="amount">
              <h3><span>$</span>786.617</h3>
            </div>
          </div>
          <div class="diner-consumer-item">
            <div class="caption">
              <span>Por consumir</span>
            </div>
            <div class="amount">
              <h3><span>$</span>100.000</h3>
            </div>
          </div>
        </div>
        <div class="diner-graph">
          <div class="diner-graph-item">
            <div class="graph-bar graph-bar--3"></div>
            <span>Lu</span>
          </div>
          <div class="diner-graph-item">
            <div class="graph-bar graph-bar--4"></div>
            <span>Ma</span>
          </div>
          <div class="diner-graph-item">
            <div class="graph-bar graph-bar--6"></div>
            <span>Mi</span>
          </div>
          <div class="diner-graph-item">
            <div class="graph-bar graph-bar--5"></div>
            <span>Ju</span>
          </div>
          <div class="diner-graph-item">
            <div class="graph-bar graph-bar--7 active"></div>
            <span>Vi</span>
          </div>
          <div class="diner-graph-item">
            <div class="graph-bar graph-bar--2"></div>
            <span>Sa</span>
          </div>
          <div class="diner-graph-item">
            <div class="graph-bar graph-bar--1"></div>
            <span>Do</span>
          </div>
        </div>
        <div class="diner-detail">
          <a [routerLink]="['/historial-consumo']">Ver detalle</a>
        </div>
      </div>
    </div>
  </div>
</section>