@import 'src/assets/scss/config/colors';

.tab-close {
  color: $gray;
  text-align: right;
  cursor: pointer;
}

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  &.nav-tabs {
    display: flex;
    margin: 10px 0 40px;
    li {
      color: $gray;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      &.active {
        a {
          color: $orange;
          &::after {
            background-color: $orange;
          }
        }
      }
      a {
        color: $gray;
        text-decoration: none;
        font-size: .9em;
        position: relative;
        &::after {
          content: '';
          width: 80%;
          height: 2px;
          background-color: transparent;
          position: absolute;
          bottom: -5px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}