$white: #ffffff; // => blanco
$black: #000000; // => negro

$orange: #ff9718; // => naranja
$orange_light: #fff7ed; // => naranja super claro
$orange_secondary: #ffe7c8; // => border input

$gray: #4d4d4d; // => gris icons & texto
$gray_secundary: #9c9c9c; // => gris tab
$gray_light: #c7c7c7; // => gris barras
$gray_background: #fafafa; // => gris background

$red: #d43434;
$red_light: #ffe6e6;